.header {
	background-color: #0067A3;
	height: 55px;
	width: 100%;
	color: #FFFFFF;
}

.container {
	max-width: 1235px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	margin: 0 auto;
}

.login {
	width: 64px;
	height: 40px;
	border: 1px solid black;
}

.logo {
	font-size: 28px;
}